.DS_Store
*.h5
*.json
.vscode
*.pth
result/
*.npy
*.pdf
cache/
*.txt
!requirements.txt
*.drawio

*.ipynb
!load_gaze_model.ipynb
.ipynb_checkpoints
*.npy
*.dat
*.bz2

figures/
*.csv
prototype/
__pycache__/
results/
*.xlsx
run_on_server/

memo/
ckpt/



sig.sh
*.pkl

*.pt
*.pth

*.pyc


*.jpg
*.png
*.JPG
*.PNG
*.gif
__pycache__/

*.log
*.sh

*.ckpt
*.pth.tar
checkpoints/*
logs/*

configs/data_path.yaml

!assets/*.jpg
!assets/meshlab.gif
!assets/subject0000/frame0000/final_obj/mvs3d.jpg
!src/face_model.txt


*out
*_nodeinfo

outputs/